{% extends 'base.html.twig' %}
{% block head %}
<head>
{% block title %} Upload file{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/style.css')}}">
{% endblock stylesheets %} 
</head>
{% endblock head %}

{% block body %}
<body class="body2">

<a href="{{ asset(fileURI) }}">Télécharger</a>

</body>

{% endblock body %}
