.btn {
  margin-right: 4px;
  float: left;
  
}

h2 {
  margin-right: 5px;
}

.admin {
  float: right;
  margin-top: 10px; 
}

nav {
  margin-top: 10px;
  border: solid rgb(145, 135, 135) 1px
}

/* a {
  text-decoration: none;
  color: black;
} */

.titre  {
  margin-left: 3rem;
}

/* Start of the container sign-up for template sign-up */
.container{
  background-color: whitesmoke;
  justify-content: center;
  /* End of the  container sign-up for template sign-up */
}

/* Start of the template product */
.product{
  border-style: double;
  border-color: rgb(8, 66, 141);
  width: 850px;
  height: 360px;
  
}

.product2{
  border-style: double;
  border-color: black;
  width: 850px;
  height: 310px;
  
}

.product3{
  background-color: rgb(80, 171, 224);
}

/* End of the template product */



/*TEMPLATE ACCOUNT*/
.formAccount {
  justify-content: center;
  margin-top: 30px;

}

/* Start of the template edit_cat */

.body{
  background-color: gray;
}

add_category{
  background-color: aqua;
  width: 96px;
  height: 60px;
  
}

.name_edit_cat{
  border-style: groove;
  border-color: rgb(63, 20, 220);
  width: 500px;
  height: 30px;
}

.submit_cat{
  color: antiquewhite;
  background-color: green;
  font-family: fantasy;
}

/* End of the template edit_cat */


/* Start of the template edit_product */

.body2{
  background-color: gray;
}

/* End of the template edit_product */


/* Start of the template administration */

.body3{
  background-color: gray;
}

.add_catego{
  background-color: darkcyan;
  width: 40px;
  height: 20px;

}

.add_produc{
  background-color: darkcyan;
  width: 40px;
  height: 20px;
}

/* End of the template administration */


.loglog {
  border-radius: 5px
}
/* End of the template edit_cat */